<div class="container centered">
  <div class="menu-container">
    <app-menu-handler></app-menu-handler>
    <div class="w-100" *ngIf="!(isLoading$ | async)">
      <mat-card class="no-border-radius">
        <app-caregiver-form (actionEvent)="onSave()" actionButtonText="Edit" [form]="form"></app-caregiver-form>
      </mat-card>
    </div>
  </div>
</div>
