<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/"><h1>FamilyChest</h1></a>
    <span class="fill-remaining-space"></span>
    <div id="extended-menu">
      <ng-content></ng-content>
    </div>
    <div id="doctor-menu">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div *ngIf="currentUser">
          <div *ngIf="currentUser.role === 'DOCTOR'">
            <button mat-menu-item>
              <mat-icon>accessible</mat-icon>
              <button mat-button routerLink="/patients">Patients</button>
            </button>
            <button mat-menu-item>
              <mat-icon>face</mat-icon>
              <button mat-button routerLink="/caregivers">Caregivers</button>
            </button>
            <button mat-menu-item>
              <mat-icon>assignment_turned_in</mat-icon>
              <button mat-button routerLink="/medications">Medications</button>
            </button>
            <button mat-menu-item>
              <mat-icon>pageview</mat-icon>
              <button mat-button routerLink="/medications/plans/doctor">Medication Plans</button>
            </button>
          </div>
          <div *ngIf="currentUser.role === 'PATIENT'">
            <button mat-menu-item>
              <mat-icon>pageview</mat-icon>
              <button mat-button routerLink="/medications/plans/patient">My Medication Plans</button>
            </button>
            <button mat-menu-item>
              <mat-icon>supervisor_account</mat-icon>
              <button mat-button routerLink="/me">My Account</button>
            </button>
          </div>
          <div *ngIf="currentUser.role === 'CAREGIVER'">
            <button mat-menu-item>
              <mat-icon>bookmark</mat-icon>
              <button mat-button routerLink="/caregivers/notifications">Notifications</button>
            </button>
            <button mat-menu-item>
              <mat-icon>accessible</mat-icon>
              <button mat-button routerLink="/caregivers/patients">My Patients</button>
            </button>
          </div>
        </div>
        <button mat-menu-item>
          <mat-icon>supervised_user_circle</mat-icon>
          <button mat-button routerLink="/login">Account Authentication</button>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
