.centered-loading-spinner-container {
  height: 100vh;
  width: 100%;
  justify-content: center;
  justify-items: center;
}

.loading-spinner {
  width: 20%;
  text-align: center;
  align-self: center;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
