<div class="container centered">
  <div class="menu-container">
    <app-menu-handler></app-menu-handler>
    <div class="w-100">
      <mat-card class="no-border-radius">
        <app-caregiver-attach-patient-form (actionEvent)="onAttachPatient()"
                                           actionButtonText="Create"
                                           [form]="form"
                                           [patientList]="patients$ | async"
        ></app-caregiver-attach-patient-form>
      </mat-card>
    </div>
  </div>
</div>
