<div class="container centered">
  <div class="menu-container">
    <app-menu-handler>
      <button mat-raised-button color="accent" routerLink="./create">Create Medication</button>
    </app-menu-handler>
    <div class="w-100" *ngIf="!(isLoading$ | async)">
      <app-medication-list [dataList]="medicationList$ | async" (delete)="onMedicationDelete($event)">
      </app-medication-list>
    </div>
  </div>
</div>
