<form [formGroup]="form" (ngSubmit)="actionEvent.emit()" class="form-container">
  <mat-form-field>
    <mat-label>Patient</mat-label>
    <mat-select class="form-control" formControlName="patientId">
      <mat-option *ngFor="let patient of patientList" [value]="patient.id">
        Id:{{patient.id}} Name:{{patient.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
    <div>
      <button mat-flat-button color="warn">{{actionButtonText}}</button>
    </div>
</form>
