<div class="container centered">
  <div class="menu-container">
    <app-menu-handler>
      <button mat-raised-button color="accent" routerLink="./create">Create Patient</button>
    </app-menu-handler>
    <div class="w-100" *ngIf="!(isLoading$ | async)">
      <app-patient-list [dataList]="patientList$ | async" (delete)="onPatientDelete($event)" [noActionMenu]="false">
      </app-patient-list>
    </div>
  </div>
</div>
