<div class="container centered">
  <div class="menu-container">
    <app-menu-handler>
    </app-menu-handler>
    <div class="w-100">
      <div>
        <app-patient-notifications-list [dataList]="notifications"></app-patient-notifications-list>
      </div>
    </div>
  </div>
</div>
