.container {
  min-width: 100%;
}

.menu-container {
  padding-top: 5%;
  margin: auto;
  min-width: 800px;
  max-width: 500px;
  min-height: 500px;
}

.menu-image-background {
  min-width: 100%!important;
  min-height: 100%!important;
  background-size: cover;
}


.centered {
  text-align: center !important;
  align-content: center !important;
  justify-content: center !important;
}
