<div class="container centered">
  <div class="menu-container">
    <app-menu-handler>
    </app-menu-handler>
    <div class="w-100" *ngIf="!(isLoading$ | async)">
      <app-patient-list [dataList]="patientList$ | async">
      </app-patient-list>
    </div>
  </div>
</div>
