<mat-nav-list role="list">
  <mat-list-item role="listbox" routerLink="/patients">
    <mat-card>
      <div>
        <h3>Patients</h3>
        <mat-icon>accessible</mat-icon>
      </div>
    </mat-card>
  </mat-list-item>
  <mat-list-item role="listbox" routerLink="/patients">
    <mat-card>
      <div>
        <h3>Caregivers</h3>
        <mat-icon>face</mat-icon>
      </div>
    </mat-card>
  </mat-list-item>
  <mat-list-item role="listbox" routerLink="/patients">
    <mat-card>
      <div>
        <h3>Medications</h3>
        <mat-icon>assignment_turned_in</mat-icon>
      </div>
    </mat-card>
  </mat-list-item>
  <mat-list-item role="listbox" routerLink="/login">
    <mat-card>
      <div>
        <h3>Auth</h3>
        <mat-icon>supervised_user_circle</mat-icon>
      </div>
    </mat-card>
  </mat-list-item>
</mat-nav-list>
