mat-nav-list .mat-list-item {
  display: inline-block;
  height: auto;
  width: auto;
}

mat-nav-list {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.primary-color {
  background-color: darkred;
}

mat-card{
  vertical-align: center;
  padding-left: 30px;
  margin-top: 20px;
  width: 100px;
  height: 100px;
  background-color: rgba(214, 24, 91, 0.6);
}

mat-card div{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

mat-icon{
  width: 400px;
}
