<mat-toolbar color="primary" class="toolbar-container">
  <mat-toolbar-row>
    <h1>Login</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="no-border-radius">
  <mat-card-content>
    <mat-divider></mat-divider>
    <form [formGroup]="loginForm" (ngSubmit)="formSubmit.emit()" class="form-container">
      <mat-form-field class="container-field centered">
        <mat-label for="emailInput">Email</mat-label>
        <input matInput type="text" id="emailInput" formControlName="email" required>
      </mat-form-field>
      <mat-form-field class="container-field centered">
        <mat-label for="passwordInput">Password</mat-label>
        <input matInput type="password" id="passwordInput"
               formControlName="password" required>
      </mat-form-field>
      <div class="container-field centered">
        <b class="text-error" *ngIf="errorMessage">Invalid email or password!</b>
      </div>
      <button class="container-field centered" color="primary" id="submitButton" mat-raised-button
              type="submit"
              [disabled]="!loginForm.valid">
        Submit
      </button>
    </form>
  </mat-card-content>
</mat-card>
