<table mat-table [dataSource]="dataList" class="mat-elevation-z8 w-100" *ngIf="dataList.length>0">
  <ng-container matColumnDef="patientId">
    <th class="centered" mat-header-cell *matHeaderCellDef>Patient Id</th>
    <td mat-cell *matCellDef="let element"> {{element.patientId}} </td>
  </ng-container>
  <ng-container matColumnDef="message">
    <th class="centered" mat-header-cell *matHeaderCellDef>Message</th>
    <td mat-cell *matCellDef="let element"> {{element.message}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="dataListHeaders; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: dataListHeaders;"></tr>
</table>
