<form [formGroup]="form" (ngSubmit)="actionEvent.emit()" class="form-container">
  <mat-form-field>
    <mat-label>Patient</mat-label>
    <mat-select class="form-control" formControlName="patientId">
      <mat-option *ngFor="let patient of patientList" [value]="patient.id">
        Id:{{patient.id}} Name:{{patient.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput class="form-control" type="text" placeholder="Intake Intervals"
           [value]="form.get('intakeIntervals').value"
           formControlName="intakeIntervals">
  </mat-form-field>
  <mat-form-field>
    <input matInput class="form-control" type="text" placeholder="Period" [value]="form.get('period').value"
           formControlName="period">
  </mat-form-field>
  <mat-form-field class="form-control centered">
    <mat-chip-list #selectedMedicationsChipList aria-label="Medication selection">
      <mat-chip *ngFor="let selectedMedication of selectedMedications"
                [selectable]="selectable" [removable]="removable"
                (removed)="remove(selectedMedication)" [value]="selectedMedication">
        Id:{{selectedMedication.id}} Name:{{selectedMedication.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <div class="container-field centered">
      <input [matAutocomplete]="autocompleteAvailableMedications" placeholder="Medications..."
             #medicationInput [matChipInputFor]="selectedMedicationsChipList"
             (change)="filterAvailableResourcesByInput()">
      <mat-autocomplete #autocompleteAvailableMedications="matAutocomplete"
                        (optionSelected)="selectedAutocompleteMedication($event)">
        <mat-option *ngFor="let medication of filteredMedications$ | async" [value]="medication">
          {{medication.name}}
        </mat-option>
      </mat-autocomplete>
    </div>
  </mat-form-field>
  <div>
    <button mat-flat-button color="warn">{{actionButtonText}}</button>
  </div>
</form>
