<div class="container centered">
  <div class="menu-container">
    <app-menu-handler>
      <button mat-raised-button color="accent" routerLink="./create">Create Caregiver</button>
    </app-menu-handler>
    <div class="w-100" *ngIf="!(isLoading$ | async)">
      <app-caregiver-list [dataList]="caregiverList$ | async" (delete)="onCaregiverDelete($event)">
      </app-caregiver-list>
    </div>
  </div>
