<table mat-table [dataSource]="dataList" class="mat-elevation-z8 w-100">
  <ng-container matColumnDef="id">
    <th class="centered" mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th class="centered" mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="sideEffects">
    <th class="centered" mat-header-cell *matHeaderCellDef>Side Effects</th>
    <td mat-cell *matCellDef="let element">{{element.sideEffects}}</td>
  </ng-container>
  <ng-container matColumnDef="dosage">
    <th class="centered" mat-header-cell *matHeaderCellDef>Dosage</th>
    <td mat-cell *matCellDef="let element">{{element.dosage}}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th class="centered" mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <app-medication-list-action-menu [elementId]="element.id"
                                       (delete)="onDelete($event)"></app-medication-list-action-menu>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="dataListHeaders; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: dataListHeaders;"></tr>
</table>
