<form [formGroup]="form" (ngSubmit)="actionEvent.emit()" class="form-container">
  <mat-form-field>
    <input matInput class="form-control" type="email" placeholder="Email" [value]="form.get('email').value" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput  class="form-control" type="text" placeholder="Name" [value]="form.get('name').value" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput class="form-control" [matDatepicker]="picker" placeholder="Choose a date" formControlName="birthDate"
           [value]="form.get('birthDate').value">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput class="form-control" type="text" placeholder="Gender" [value]="form.get('gender').value" formControlName="gender">
  </mat-form-field>
  <mat-form-field>
    <input matInput class="form-control" type="text" placeholder="Address" [value]="form.get('address').value" formControlName="address">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput class="form-control" type="text" placeholder="Medical Record" [value]="form.get('medicalRecord').value" formControlName="medicalRecord"></textarea>
  </mat-form-field>
  <div>
    <button mat-flat-button color="warn">{{actionButtonText}}</button>
  </div>
</form>
