<div class="container centered">
  <div class="menu-container">
    <app-menu-handler></app-menu-handler>
    <div class="w-100" *ngIf="!(isLoading$ | async)">
      <mat-card class="no-border-radius">
        <app-patient-personal-account [patient]="selectedPatient$ | async"></app-patient-personal-account>
      </mat-card>
    </div>
  </div>
</div>
